<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cute Animals</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Pick a Kitten or a Puppy </h1>
    <p> Aren't They Cute? </p>

    <a href="/img/puppy1">
    <img src="static/css/puppy1.jpeg" />
    </a>

    <a href="/img/puppy2">
    <img src="static/css/puppy2.jpeg" />
    </a>

    <a href="/img/puppy3">
    <img src="static/css/puppy3.jpeg" />
    </a>

    <a href="/img/kitten1">
    <img src="static/css/kitten1.jpeg" />
    </a>

    <a href="/img/kitten2">
    <img src="static/css/kitten2.jpeg" />
    </a>

    <a href="/img/kitten3">
    <img src="static/css/kitten3.jpeg" />
    </a>

    {% endblock %}
  </body>
</html>
